.dogo-gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.dogo-image {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.dogo-image:hover {
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .dogo-gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .dogo-gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.breeds {
  display: flex;
  font-family: Philosopher;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  border-radius: 20px;
  box-shadow: md;
  margin: 2px;
  width: 200px;
  cursor: pointer;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.breeds:hover {
  transform: scale(1.09);
}

.breeds:focus {
  box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-out;
}
