@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Radio+Canada:wght@300&display=swap");

.container {
  width: 95%;
  margin: auto;
  margin-top: 16px;
  height: max-content;
}

.nav-button {
  padding-bottom: 2px;
  width: 80px;
  height: 30px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 20px;
}

.nav-button:focus {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
}
